<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <title>Address Book</title>

    <style>
      @media (min-width: 1200px){
      .container {
         max-width: 1200px!important;
      }
    }
    </style>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% block css %}
    {% endblock %}

  </head>
  <body class="d-flex flex-column h-100">

<main role="main" class="flex-shrink-0">
  {% include 'partials/menu.html.twig' %}
  {% block body %}

  {% endblock %}
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Job application test, made with care by <a href="https://github.com/eissasoubhi" title="S.Eissa">S.Eissa</a></span>
  </div>
</footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
{% block js %}
{% endblock %}
</body>
</html>